* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 3px dashed white;
    padding: 25px 10px 10px;
}

#header h3 {
    margin: 0;
}

#content {
    background-image: url("deadpool1-gallery-image.jpg");
    width: 1000px;
    height: 538px;
}

#block {
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    float: right;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
}

ul {
    list-style: lower-alpha;
}

#footer {
    background-color: black;
    color: #EFDCB6;
    text-align: center;
    margin: 0;
    padding: 5px;
}