* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    width: 1000px;
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 3px dashed white;
}

h2 {
    padding-top: 20px;
    margin-bottom: 5px;
}

#content {
    background-image: url("deadpool1-gallery-image.jpg");
    width: 1000px;
    height: 538px;
}

#block {
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    float: right;
    border-radius: 20px;
    padding: 10px;
    margin-top: 100px;
}
