* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header {
    background-color: cornflowerblue;
    color: rgba(156, 250, 4, 0.952);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    height: 120px;
    line-height: 120px;
}
nav {
    background-color: rgb(51, 170, 170);
    color: rgb(231, 255, 11);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}
a {
    color: rgb(158, 27, 27);
    text-decoration: none;
}
article {
    background-color: blueviolet;
    color: cornsilk;
    width: 70%;
    float: left;
    padding: 30px;
    height: 200px;
    text-align-last: center;
}
aside {
    background-color: darkorange;
    color: rgb(248, 1, 174);
    width: 30%;
    float: left;
    padding: 30px;
    height: 200px;
    text-align-last: center;
    line-height: 150px;
}
footer {
    background-color: black;
    color:blanchedalmond;
    text-align: center;
    height: 100px;
    padding: 50px;
    clear: both;
    line-height: 50%;
}

section {
    border: 1px solid brown;
    padding: 30px;
}